:root{
    --very-light-pink: #c7c7c7;  
    
    --text-input-field: #f7f7f7;
    --red-claro: #F99B7D;
    --red: #E76161;
    --red-oscuro: #B04759;
    --verde: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}
.verde{
    color: var(--verde);
}
.login{
    width: 100%;
    height: 100vh;
    display:grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    padding: 20px;
    background-color: var(--fondo-gris);
    border-radius: 12px;
    
}
.logo {
    width:150px;
    margin-bottom: -20px;
    justify-self: center;
    display:none;
}
@media (max-width: 640px) {
    .logo {
        display:inline;
    }
    .secundary-button {
        max-width: 300px;
        position: absolute;
        bottom: 0px;
        margin-bottom: 24px;
    }
    .create-button {
        width: 100%;
        max-width: 300px;
        position: absolute;
        bottom: 0px;
        margin-bottom: 24px;
    }
    .cards-container{
        display:grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
    .product-info{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    

}     
.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: left;
}
.txtDeveloper{
    text-align: center;
    padding-left: 120px;
}
.txtNombre{
    text-align: center;
    margin-bottom: -20px;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 32px;
    text-align: left;
}
.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-div{
    display: grid;
    justify-items: center;
}
.email-image img{
    width: 80px;
    
}
.resend{
    font-size: var(--sm);
}
.resend span{
    color:var(--very-light-pink)
}
.resend a{
    color:var(--verde);
    text-decoration: none;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border : none;
    border-radius: 5px;
    height: 32px;
    font-size: var(--md);
    padding: 6 px;
    margin-bottom: 12px;
}

.input-name,
.input-email,
.input-password{
    margin-bottom: 22px;
}
.form {
    display: flex;
    flex-direction: column;
}
.primary-button{
    background-color: var(--verde);
    border-radius: 8px;
    border:none;
    color: var(--white);
    height: 44px;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
}
.secundary-button{
    background-color: var(--white);
    border-radius: 8px;
    border:1px solid var(--verde);
    color: var(--verde);
    height: 50px;
    cursor: pointer;
    font-size: var(--lg);
    font-weight: bold;
    width: 100%;
    
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}

.form a {
    color: var(--verde);
    text-align: center;
    font-size: var(--sm);
    text-decoration: none;
    margin-bottom: 52px;
}
.value{
    color:var(--very-light-pink);
}
.cards-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    
}
.product-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.product-info figure img{
    width: 35px;
    height: 35px;
}
.product-info figure {
    margin: 0;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top:6px;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2){
    font-weight: 100;
    font-size: var(--md);
    color: var(--verde);
    margin-top:0px;
    margin-bottom: 0px;
}
.desktop-menu{
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--very-light-pink);
    padding:15px 15px 0px 15px;

}
.desktop-menu ul{
    list-style:  none;
    padding: 0px;
    margin: 0px;
}
.desktop-menu ul li{
    text-align: right;
}
.desktop-menu ul li:last-child{
    padding-top:15px;
    border-top: 1px solid var(--very-light-pink); 
}
.desktop-menu ul li:last-child a{
    color:var(--verde);
    font-size: var(--md);
}

.desktop-menu ul li a{
    color:var(--black);
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
}